<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>IECSE Registrations</title>

<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src ="../static/js/jquery.js"></script>
<script src ="../static/js/index.js"></script>
<script>if (window.module) module = window.module;</script>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<script src="../static/js/bootstrap.min.js"> </script>
<link rel="stylesheet" type="text/css" href="../static/css/index.css">

</head>
<body>

<div class="header"><a href="/">
	<img src="../static/images/logo.png" style="height:40px">
	</a><span class="title"> Registrations </span>
	</div>

	<div class="container">

		<ul class="nav nav-tabs" data-tabs="tabs" id="tabs">
		 <li class="my-tab active role="presentation"><a href="#register-members"  data-toggle="tab">Register Members</a></li>
		   <li class="my-tab" role="presentation"><a href="#view-members"  data-toggle="tab">View Members</a></li>
		  <li role="presentation" class="my-tab"><a href="#create-event" data-toggle="tab">Create Event</a></li>
		 
		
		</ul>

	<div class="tab-content">
		<div id="create-event" class="tab-pane">
		<br>
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<div class="col-md-6">
   				<div class="input-group">
     			 <input id='check' type="password" class="form-control" placeholder="Input Password...">
      				<span class="input-group-btn">
        				<button id="sender" class="btn btn-default" type="button">Submit</button>
      				</span>
    			</div>
  			</div>
		</div>
		</div>
		</div>
		

		<div id="register-members" class="tab-pane active">
		<br>
		<ul class="list-group">
			{% for k in all_events %}
				<li class="list-group-item"> <span class="verify" id="{{k[0]}}"> {{k[0]}} <br></span></li>

			{% endfor %}
		</ul>
		</div>
	
		<div id="view-members" class="tab-pane">
		<br>
		<ul class="list-group">
			{% for k in all_events %}
				<li class="list-group-item"> <span class="view" id="{{k[0]}}"> {{k[0]}} <br></span></li>
			{% endfor %}
		</ul>
		</div>
	</div>
	</div>

	<script>
	    $("#sender").click(function() {
	    	if($('#check').val() == 'mayankbansaldoesntcode')
	    	{			
	    		var url= "/make/event";
			    $.ajax({
			      url: url,
			      success: function(data){
			           $('.container').html(data);
	      		  }
				});
			}
		});
	</script>
</body>
</html>

